html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
:root {
  --background-color: black;
  --text-border-selection-color: white;
  --selection: var(--selection-color);
}

::selection {
  background: var(--selection);
  color: var(--text-border-selection-color);
}

body.light-mode {
  --background-color: white;
  --text-border-selection-color: black;
}

#theme-toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: inherit;
  cursor: pointer;
  transition: transform 0.2s;
}

#theme-toggle:hover {
  transform: rotate(20deg);
}

body {
  background-color: var(--background-color);
  color: var(--text-border-selection-color);
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.3s, color 0.3s;
}

section{
  padding: 4vh 20vw 4vh 20vw;
  align-items: center;
  position: relative;      
}

h1{
  font-size: 10rem;
  margin-bottom: 8%;
  line-height: 0.9;
}

h2{
  font-size: 2rem;
  text-align: center;   
}

p{
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: var(--text-border-selection-color);
  font-weight: bold;
  font-size: 2.5vh;
}

p a{
  font-size: 1.6rem;
}

nav a {
  text-transform: uppercase;
}

nav {
  padding:2% 0% 1% 0%;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--background-color);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 12%;
}

nav a:hover,
h3 a:hover,
p a:hover,
.work_links li a:hover{
  text-decoration: underline;
}

footer {
  width: 60vw;
  margin: 5rem auto 0; 
  border-top: 2px solid var(--text-border-selection-color); 
  padding: 2rem 0;
  display: flex;
  justify-content: center; 
  gap: 10vw; 
}

footer a, #CV {
  display: inline-block;
  padding: 0.75rem 1.5rem; 
  border: 2px solid var(--text-border-selection-color);
  border-radius: 20px; 
}

footer img{
  width: 1.2rem;
}


.scroll-buttons {
  position: fixed;      
  bottom: 2rem;         
  right: 2rem;         
  display: flex;
  flex-direction: column;
  gap: 1rem;           
}

.scroll-up, .scroll-down {
  width: 20px;
  height: 20px;
  border-left: 2px solid var(--text-border-selection-color);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.scroll-up {
  border-top: 2px solid var(--text-border-selection-color);
  transform: rotate(45deg);
}

.scroll-down {
  border-bottom: 2px solid var(--text-border-selection-color);
  transform: rotate(-45deg);
}

.scroll-up:hover,
.scroll-down:hover {
  border-width: 0.2rem;
}

.carousel-section {
  max-width: 75vw;       
  margin: 0 auto;          
  padding: 4rem 1.5rem;  
  text-align: center;   
}

.carousel-section h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.carousel-section p {
  font-size: 1rem;
  max-width: 600px;
  margin: 0.5rem auto 2rem auto;
  line-height: 1.5;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.reel {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1rem 0 1rem 0;
  scrollbar-width: none; 
}

article {
  flex: 0 0 auto;
  width: 250px;
  border:solid 2px  var(--text-border-selection-color);
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
}

article:hover {
  transform: translateY(-5px);
}

.image.featured img {
  width: 100%;
  height: auto;
  display: block;
}

article header {
  padding: 1rem;
}

article header h3 {
  font-size: 1.1rem;
  margin: 0;
}

article header a {
  color:var(--text-border-selection-color);
  text-decoration: none;
}

article header a:hover, 
footer a:hover,
#CV:hover, 
section ul li a:hover {
  text-decoration: underline;
}

article p {
  padding: 0 1rem 1rem 1rem;
  font-size: 1.5rem;
  color: #666;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.2rem;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.prev {
  left: -2vw;
}

.next {
  right: -2vw;
}

.arrow:hover {
  transform: translateY(-50%) scale(1.2);
}

.interests {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 0.8rem; 
}

.interest-card {
  flex: 1 1 calc(20% - 1rem); 
  border: 2px solid var(--text-border-selection-color);
  border-radius: 15px;
  padding: 1rem 1rem;
  text-align: center;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

interest-card svg, .cursor {
  stroke: var(--text-border-selection-color);
}

#CV{
  display: block;          
  width: fit-content;      
  margin: 2rem auto;      
}



@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes flutuar {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5%);
  }
}

@keyframes rotate_img {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}


.decor path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: draw 7s ease-in-out infinite alternate;
}

#azul_1 {
  position: absolute;
  top: 37%;
  left: -5%;
}

#laranja_1 {
  position: absolute;
  top: 0%;
  right: 4%;
  animation: flutuar 4s ease-in-out infinite;
}

#rosa_1 {
  position: absolute;
  top: 80%;
  right: 0%;
}

#vermelho_1 {
  position: absolute;
  bottom: 95%;
  left: 5%;
  animation: flutuar 4s ease-in-out infinite;
}

#img1 {
  position: absolute;
  top: -10%;
  left: 3%;
  width: 16%;
  opacity: 0.9;
  animation: rotate_img 6s ease-in-out infinite alternate;
}

#img2 {
  position: absolute;
  top: 0%;
  right: 1%;
  width: 18%;
  opacity: 0.9;
  animation: rotate_img 3s ease-in-out infinite alternate;
}

#azul_2{
  position: absolute;
  bottom: 70%;
  right: 5%;
}

#rosa_2{
  position: absolute;
  top: 15%;
  left: -6%;
}

#amarelo_1{  
  position: absolute;
  top: 15%;
  right: 0%;
}

#verde_1{
  position: absolute;
  top: 45%;
  left: 0%;
  animation: flutuar 4s ease-in-out infinite;
}

#laranja_2{
  position: absolute;
  top: 180%;
  left: 0%;
  animation: flutuar 4s ease-in-out infinite;
}

#verde_2{
  position: absolute;
  top: 10%;
  left:-5%;
  transform: rotate(90deg);
}

#rosa_3{
  position: absolute;
  top: 70%;
  right: 0%;
}

#pos_1{
  position: absolute;
  bottom: 3000%;
  left: -7%;
}

#pos_2{
  position: absolute;
  bottom: 1500%;
  right: -15%;
}

#pos_3{
  position: absolute;
  bottom: 1100%;
  left: 0%;
}

#pos_4{
  position: absolute;
  bottom: -50%;
  left: 0%;
}


section ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}

section li {
  border-bottom: 1px solid var(--text-border-selection-color);
}

section ul li a {
  display: flex;
  justify-content: space-between;
  padding: 1.5vh 0;
}

section video {
  width: 100%;
}

section img {
  width: 100%;
}

a span{
  font-size: 1.3rem;
}

a span:nth-of-type(2) {
  opacity: 0.6; 
}




canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; 
  z-index: 10; 
}

#clearDrawing {
  position: fixed;
  top: 1.3rem;
  left: 4rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: inherit;
  cursor: pointer;
  transition: transform 0.2s;
  z-index: 11; 
}

#drawToggle {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: inherit;
  cursor: pointer;
  transition: transform 0.2s;
  z-index: 11; 
}

#drawToggle:hover, #clearDrawing:hover {
  opacity: 0.85;
}


